# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules
/bower_components
yarn.lock
package-lock.json

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
coverage/
npm-debug.log
.nyc_output/
rules/

#System Files
.DS_Store
Thumbs.db
